GRAFANA_ADMIN_PASSWORD=change-me
# OLLAMA_UPSTREAM=http://host.docker.internal:11434
# PROM_RETENTION=90d
# Transparent mode: Ollama on 11436, proxy on Ollama's usual port.
# OLLAMA_PROXY_PORT=11434
# OLLAMA_UPSTREAM=http://host.docker.internal:11436
